.bg-Text {
    background-color: #333;
    overflow-x: hidden;
    color: #fff;
    height: 30vh;
}

.text {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity: 0;
    animation: focus 5s ease-in-out infinite;
    -webkit-box-reflect: below 0 linear-gradient(transparent 20%, rgba(255,255,255,0.2));
}

@keyframes focus {
    0% {
        font-size: 256px;
        filter: blur(16px);
    }
    20%, 30% {
        font-size: 36px;
        filter: blur(0px);
        opacity: 1;
    }
    50% {
        font-size: 0px;
        filter: blur(16px);
        opacity: 0;
    }
}
