$primary: #14FFEC;

.btnTitle {
    display: flex;
    justify-content: center;
}
.bg-darker {
    background-color: #333;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .BtnThis {
        width: 120px;
        height: 40px;
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 3px;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 1rem;
        // transform: rotate(-25deg) skew(25deg) translate(0, 0);
        box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
        background-color: $primary;
        color: #333;
        transition: all .5s;
        position: relative;

        &:hover {
            translate: 0rem 1rem;
            transition: all .5s;
        }
    }
}

