@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900%display=swap');

.bg-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #333;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    background: #1c1c1c;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, 
    #14FFEC, #14FFEC);
    transform-origin: bottom right;
    animation: animates 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, 
    #14FFEC, #14FFEC);
    transform-origin: bottom right;
    animation: animates 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animates {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #000;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;

}
.form h2 {
    color: #14FFEC;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0,1em;

}

.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;

}
.inputBox input {
    position: relative;
    width: 100%;
    padding: 10px 9px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 14px;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px 10px 10px;
    font-size: 14px;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span, 
.inputBox input:focus ~ span  {
    color: #14FFEC;
    transform: translateX(0px) translateY(-34px);
    font-size: 14px;

}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #14FFEC;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid ~ i, 
.inputBox input:focus ~ i {
    height: 44px;

}

.links {
    display: flex;
    justify-content: space-between;

}

.links a {
    margin: 10px 0;
    font-size: 14px;
    color: #8f8f8f;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2)
 {
    color: #14FFEC;

}
input[type='submit'] {
    border: none;
    outline: none;
    background: #14FFEC;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

input[type='submit']:active {
    opacity: 0.8;
}